/* Absolute minimal styling that is required on top
of stock Bootstrap in order for this library to play
nice with other libraries/tools. */

.tooltip.top,
.tooltip.bottom,
.tooltip.left,
.tooltip.right,
.tooltip.top .tooltip-arrow,
.tooltip.bottom .tooltip-arrow,
.tooltip.left .tooltip-arrow,
.tooltip.right .tooltip-arrow {
  margin: 0;
}

.tooltip.menu .tooltip-inner { padding: 0; border: none; }
.tooltip.menu .btn { text-align: left; }

.input-group > input + .input-group-btn > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

.popover {
  display: block;
}

.popover.top .arrow,
.popover.bottom .arrow,
.popover.left .arrow,
.popover.right .arrow {
  margin: 0;
}
