<ul>
  <li>
    {{#if (-ember-octane)}}
      <LinkTo @route="artists.artist.discography" @model={{this.model.id}}>Discography</LinkTo>
    {{else}}
      <LinkTo @params={{array "artists.artist.discography" this.model.id}}>Discography</LinkTo>
    {{/if}}
  </li>
</ul>