<div data-test-id="error-block">
  <p class="text-center text-danger"><UiIcon @name="exclamation-triangle" @size="4x" /></p>
  <p class="text-center mb-0 text-danger">{{this.outputMessage}}</p>
</div>