{{#let
  (or this.showPagerSizeOptions this.showFilterInput)
  (or this.showPagerDescription this.showPagerNavbar)
as |showLeftSideControls showRightSideControls|}}
  {{#if (or showLeftSideControls showRightSideControls)}}
    <div class="row control-bar" ...attributes>
      {{#if showLeftSideControls}}
        <div class="col-md-7">
          <div class="row">
            {{#if this.showPagerSizeOptions}}
              <div class="col-xs-3">
                <this.pagerSizeOptions />
              </div>
            {{/if}}

            {{#if this.showFilterInput}}
              <div class="col-xs-9">
                <this.filterInput />
              </div>
            {{/if}}
          </div>
        </div>
      {{/if}}

      {{#if showRightSideControls}}
        <div class="col-md-5 {{unless showLeftSideControls "col-md-offset-7"}} page-select-block">
          {{#if this.showPagerDescription}}
            <p class="page-description">{{this.pagerDescription}}</p>
          {{/if}}

          {{#if this.showPagerNavbar}}
            <this.pagerNavbar />
          {{/if}}
        </div>
      {{/if}}
    </div>
  {{/if}}
{{/let}}