<div class="container">
  <div class="jumbotron">
    <h1>@nsf/ui-foundation</h1>
  </div>

  <UiBreadCrumbs />

  <UiPanel @heading="Main Menu" @startCollapsed={{true}}>
    <ul class="mb-0px">
      <li><LinkTo @params={{array "playground"}}>Playground</LinkTo></li>
      <li><LinkTo @params={{array "artists"}}>Musical Artists</LinkTo></li>
    </ul>
  </UiPanel>

  {{outlet}}
</div>
