<div class="container">

  <hr />

  <button class="btn btn-primary" onclick={{action this.toggleJumbotron}}>Toggle the jumbotron</button>

  <hr />

  <UiCollapse @collapsed={{this.shrinkJumbotron}}>
    <div class="jumbotron">
      <h1>Hello World</h1>
    </div>
  </UiCollapse>
</div>