<div class="container">
  <hr />

  <button class="btn btn-primary" type="button" onclick={{action this.toggleJumbotron}}>
    Toggle the jumbotron
    <UiTooltipAttachment>Toggle away!</UiTooltipAttachment>
  </button>

  <p>Here is some text with a tooltip at the end: <UiTooltip @triggerEvents="click">Foobar</UiTooltip></p>

  <hr />

  <UiCollapse @collapsed={{this.shrinkJumbotron}}>
    <div class="jumbotron">
      <h1>Hello World</h1>
    </div>
  </UiCollapse>

  <hr />

  <UiMenu @buttonText="Align" as |tabs|>
    <tabs.Item @text="Align to the left" />
    <tabs.Item @text="Align in the center" />
    <tabs.Item @text="Align to the right" />
  </UiMenu>

  <hr />

  <UiButton @variant="info" @onClick={{open-modal "test-modal"}}>Open Modal</UiButton>

  <UiModal @title="I'm a modal window!" @name="test-modal">
    <p>Hello World!</p>
  </UiModal>
</div>
