<div class="container">

  <hr />

  <button class="btn btn-primary" onclick={{action this.toggleJumbotron}}>
    Toggle the jumbotron
    <UiTooltipAttachment>Toggle away!</UiTooltipAttachment>
  </button>

  <p>Here is some text with a tooltip at the end: <UiTooltip @triggerEvents="click">Foobar</UiTooltip></p>

  <hr />

  <UiCollapse @collapsed={{this.shrinkJumbotron}}>
    <div class="jumbotron">
      <h1>Hello World</h1>
    </div>
  </UiCollapse>
</div>