@use "../mixins/media-queries" as queries;

$breakpoints: () !default;

/**
 * Utility classes to show/hide content at, above, or below a specified breakpoint.
 *
 * .hidden-xs-up
 * .hidden-xs-down
 * .hidden-sm-up
 * .hidden-sm-down
 * .hidden-md-up
 * .hidden-md-down
 * .hidden-lg-up
 * .hidden-lg-down
 */
@each $bp in map-keys($breakpoints) {
  .hidden-#{$bp}-up {
    @include queries.breakpoint-up($bp, $breakpoints) {
      display: none !important;
    }
  }

  .hidden-#{$bp}-down {
    @include queries.breakpoint-down($bp, $breakpoints) {
      display: none !important;
    }
  }
}
